<div class="pledge sg-component">
    <div class="pledge-quote">
      <p>GETconf 2019 was a success, but our work is not done.  We want to exchange ideas, build community, and take action to advance gender  equity in the tech workforce in Omaha.</p>
      <p>For 2020, we invite all members of our community to pledge to champion gender equity in their own communities and workplaces.</p>
      <p>We will be collecting stories from the community, anonymizing them, and sharing them. We would love to have yours.</p>
      <p>Join us today.</p>
      <p class="hero-register"><a target="_blank" href="http://bit.ly/genderequity2020" class="btn-primary">Take the Pledge</a></p>
    </div>
    <div class="pledge-img">
      <img src="{{ "/assets/img/gender_equity_pledge.png" | url }}" id="img-gender-equity" alt="I pledge to champion gender equity in 2020">
    </div>
</div>