
    
<div class="schedule schedule-a">
	<h2 class="info-highlight">April 26</h2>
	<dl class="schedule-list">
		<dt>8:00AM</dt>
		<dd>Check-in/ Continental Breakfast</dd>

		<dt>9:00AM</dt>
		<dd>Opening Remarks</dd>

		<dt>9:10 Sally Elatta</dt>
		<dd><a href="/speakers/sallyelatta/"><b>Keynote:</b> Be Bold, Be Real and Lead with Love</a></dd>

		<dt>9:50AM Eva PenzeyMoog</dt>
		<dd><a href="/speakers/epenzeymoog/">Designing Against Domestic Violence</a></dd>

        <dt>10:15AM Noni WIlliams</dt>
		<dd><a href="/speakers/noniwilliams/">Data Science is (and should be) Intersectional</a></dd>

		<dt>10:40AM </dt>
		<dd>Break</dd>

		<dt>11:00AM Amy Newell</dt>
		<dd><a href="https://getconfomaha.com/speakers/amynewell/">Suffering, Authenticity, and Productivity: Lessions I learned from Bipolar Disorder</a></dd>

		<dt>11:25AM Camille Eddy </dt>
		<dd><a href="/speakers/nikkymill/"><b>Keynote</b> Recognizing cultural bias in AI</a></dd>

		<dt>12:00PM </dt>
		<dd>Lunch (provided) </dd>

		
	</dl>
</div>
<div class="schedule schedule-b">
	<dl class="schedule-list">
		<dt>1:00PM Grishma Jena</dt>
		<dd><a href="/speakers/debatelover/"><b>Workshop 1 </b>A hands-on introduction to Natural Language Processing in Python</em> </a></dd>

		<dt>1:00PM Ash Banaszek</dt>
		<dd><a href="/speakers/ashbzak/"><b>Workshop 2 </b>Fail Faster: Quick UX Design Techniques to Drive Toward Success</em></a> </dd>


		<dt>1:00PM Katie Briggs</dt>
		<dd><a href="/speakers/sisternebraska/"><b>Workshop 3 </b>Research Meets Reality</em></a> </dd>


		<dt>1:00PM CAET Staff</dt>
		<dd>CAET Tour</dd>


        <dt>1:50PM </dt>
		<dd>Break</dd>

		<dt>2:00PM</dt>
		<dd><a href="/speakers/bellicapax/"> Eris Koleszar,</a> <a href="/speakers/angelamcgraw/"> Angela McGraw,</a> <a href="/speakers/stefaniemonge/"> Stefanie Monge,</a> <a href="/speakers/victorianovak/"> Victoria Novak</a>, <a href="/speakers/gajrkramesh/">Gauri Ramesh</a>, <a href="/speakers/enbylee/">Lee Zuvanich</a><br><em>Strengthening the STEM Pipeline Panel</em></dd>

		<dt>2:50</dt>
		<dd>Break</dd>

		<dt>3:10PM Jennifer Wong</dt>
		<dd><a href="/speakers/jenniferwong/"> Empathetic Design Systems</a></dd>

		<dt>3:35PM Nicole Damen</dt>
		<dd><a href="/speakers/nicoledamen/">The power of asking questions: How to go from vauge answers to meaningful stories</a></dd>

		<dt>4:00PM Jennifer Wadella</dt>
		<dd><a href="/speakers/jenniferwadella/"><b>Keynote</b> Hacking your work life __balance to take over the world</a></dd>
	</dl>
</div>